<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      Home
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="redirect()">Create</button>
    <div *ngIf="tasks">
      <h2>Todas las tareas</h2>
      <p *ngFor="let task of tasks">
          <button ion-button (click)="detail(task)" block clear>{{task.name}} - {{task.description}}
            <ion-checkbox color="danger" (click)="status(task)" [checked]="task.status"></ion-checkbox></button>
      </p>
    </div>
</ion-content>
